
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/error404style.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="frem">
        <p>404</p>
        <h2>Estas perdido mi amor</h2>
        <h5>Perdidaaaas</h5>
        <a asp-action="Index" asp-controller="Dashboard">Ir al Inicio</a>
    </div>
</body>

</html>


